/* --------- NAVBAR CSS ---------- */
.menu-list-box li {
  font-weight: 600;
  color: #191613;
}

.menu-list-box li:hover {
  color: #D90368;
  transition: 0.3s;
}

.src-input:focus-visible {
  outline: 0;
}

/* --------- RESPONSIVE NAVBAR CSS ---------- */
@media screen and (max-width: 992px) {
  .laptop-menu {
    display: none;
  }

  .menu-list-box li {
    color: #fff;
  }
}

@media screen and (min-width: 993px) and (max-width: 1440px) {
  .respon-menu {
    display: none;
  }

  .menu-list-box li {
    margin: 0 !important;
  }
}

ul.menu-list-box li {
  margin-bottom: 20px;
}

/* ------------ SLIDERS CSS STYLE ------------ */
.slider-box {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 500px; */
  padding: 110px 0px;
}

/* -------- CATEGORY SECTION CSS ------------- */
.btn {
  padding: 10px 40px !important;
}

.card {
  border-radius: 0 !important;
  padding: 32px;
}

.category-box:hover .card-title {
  color: #D90368;
  transition: all .3s;
}

/* -------- PRODUCTS  SECTION CSS ------------- */

.product-card {
  padding: 0px !important;
}
.product-button button {
  transition: all .4s;
}
.card:hover .product-button {
  transform: translateX(10px);
}

/* ---------- FEATURE AND RECENT PRODUCTS CSS -------- */
.tabs-boxed{
  background: white !important;
}
.tab{
  line-height: 10px !important;
}

/* -------- FOOTER SECTION CSS ------- */
.footer-box{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./assets/footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-box a {
  transition: all .4s;
}
.icon-box a:hover{
  transform: translateY(-8px);;
}